body {
    margin:0px 0px;
    /* background-color:#4fa317; */
    background-image: url("cloud1.jpg");
}
.hayes-marquee {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    /* background-color: #4fa317; */
    color: rgb(201, 196, 196);
    display: flex;
    justify-content: space-between;
}
.home-page {
    display: grid;
    grid-template-columns: .75fr .25fr .25fr .25fr .25fr;
    grid-template-rows: .1fr 1fr;
    grid-template-areas: 
    "hp1 about writing video contact"
    "hp1 bio bio bio bio";
    justify-content: center;
}
@media (max-width: 500px){
    .home-page{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .1fr .25fr 1fr;
        grid-template-areas: 
        "about writing video contact"
        "bio bio bio bio"
        "hp1 hp1 hp1 hp1";
    }
    .homepagevideo1{
        max-width:100%;
    }
    .bio{font-size:1rem!important;}
    .home-about, .home-writing, .home-video, .home-contact{text-align: center;}
}
@media (max-width: 700px){
    .home-page{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .1fr .25fr 1fr;
        grid-template-areas: 
        "about writing video contact"
        "bio bio bio bio"
        "hp1 hp1 hp1 hp1";
    }
    .homepagevideo1{
        max-width:100%;
    }
    .bio{font-size:1rem!important;}
}
@media (max-width: 900px){
    .home-page{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .1fr .25fr 1fr;
        grid-template-areas: 
        "about writing video contact"
        "bio bio bio bio"
        "hp1 hp1 hp1 hp1";
    }
    .homepagevideo1{
        max-width:100%;
    }
    .bio{font-size:1rem!important;}
    .about{padding-left:20px;}
}
.homepagevideo1{grid-area: hp1;}
.homepagevideo2{grid-area: hp2; width: 100%;}
.homepagevideo3{grid-area: hp3; width: 100%;}

.home-about{grid-area: about; padding-left: 10px;}
.home-writing{grid-area: writing;}
.home-video{grid-area: video;}
.home-contact{grid-area: contact;}

.home-about, .home-writing, .home-video, .home-contact {
    font-weight: bold;
}
.home-about:hover, .home-writing:hover, .home-video:hover, .home-contact:hover{
    color:yellowgreen;
}

li {
    list-style: none;
}
.home-page a{
    text-decoration: none;
    color: black;
}
.bio {grid-area: bio; color: #293AB6; font-weight: bold; text-align: center; font-size: 1.25rem;}
#red-text{color: red;}
