body{
    background-color: white;
}
.home-button{
    color: red;
    font-weight: bold;
    text-decoration: none;
    position:fixed;
    right:0;
    padding-right:10px;
}
.videospage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    ". . ."
    ". video1 ."
    ". . ."
    ". . ."
    ". video2 ."
    ". . ."
    ". . ."
    ". video3 ."
    ". . ."
    ". . ."
    ". video4 ."
    ". . ."
    ". . ."
    ". video5 ."
    ". . ."
    ". . .";
}
#videos1, #playVid1{
    grid-area: video1;
    width:100%;
}
#videos2{
    grid-area: video2;
    width:100%;
}
#videos3{
    grid-area: video3;
    width:100%;
}
#videos4{
    grid-area: video4;
    width:100%;
}
#videos5{
    grid-area: video5;
    width:100%;
}
@media only screen 
and (max-width: 600px) {
    .videospage{
        display:grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-auto-rows: .5fr;
        grid-template-areas:
        ". . ." 
        ". video1 ."
        ". . ."
         ". . ."
        ". video2 ."
        ". . ."
        ". . ."
        ". video3 ."
        ". . ."
        ". . ."
        ". video4 ."
        ". . ."
        ". . . "
        ". video5 ."
        ". . .";
    }
}